@using Project_BookStoreCT.Models.ViewModels;
@using Project_BookStoreCT.Models.ServiceModels;
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="coupon-area mb-70">

</div>
<!-- coupon-area-area-end -->
<!-- checkout-area-start -->
@if (SessionCheckingCustomes.customerID == null)
{
    @Html.Partial("_Partial404NotFound") }
else
{
    <div class="checkout-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="your-order">
                        <h3>ĐƠN HÀNG CỦA BẠN</h3>
                        <div class="your-order-table table-responsive">
                            
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-name"><b>TÊN SẢN PHẨM</b></th>
                                        <th class="product-quantity"><b>Số lượng</b></th>
                                        <th class="product-price"><b>Đơn giá</b></th>
                                        <th class="product-name"><b>Tên khách hàng</b></th>
                                        <th class="product-quantity"><b>Điện thoại</b></th>
                                        <th class="product-name"><b>Phuong thuc thanh toan</b></th>
                                        
                                    </tr>
                                    
                                </thead>
                                
                                <tbody>
                                    @foreach (DetailBills_ViewModels bill in Model)
                                    {
                                        if (bill.statusSaleOff == true)
                                        {
                                            <tr>
                                                <td>@bill.bookName</td>
                                                <td>@bill.quantity</td>
                                                <td>@bill.saleOffPrice USD</td>
                                                <td>@bill.customerName</td>
                                                <td>@bill.phone</td>
                                                @if (bill.payment_method == 1)
                                                {
                                                    <td style="text-align:right"> Thanh toan COD</td>
                                                }
                                                else
                                                {
                                                    <td style="text-align:right"> Thanh toan PayPal</td>
                                                }

                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@bill.bookName</td>
                                                <td>@bill.quantity</td>
                                                <td>@bill.price USD</td>
                                                <td>@bill.customerName</td>
                                                <td>@bill.phone</td>
                                                @if (bill.payment_method == 1)
                                                {
                                                    <td style="text-align:right"> Thanh toan COD</td>
                                                }
                                                else
                                                {
                                                    <td style="text-align:right"> Thanh toan PayPal</td>
                                                }
                                            </tr>
                                        }

                                    }
                                    <tr><td colspan="6" class="product-subtotal" style="font-size:2rem"><b>Tổng tiền: </b>@Session["ThanhTien"] USD</td></tr>
                                </tbody>
                                
                                </table>
                            
                                <h3 class="text-center">Bạn đã đặt hàng thành công! Xin cảm ơn.</h3>
                            </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>}

