@using Project_BookStoreCT.Models.ViewModels;
@using Project_BookStoreCT.Models.ServiceModels;
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="coupon-area mb-70">

</div>
<!-- coupon-area-area-end -->
<!-- checkout-area-start -->
@if (SessionCheckingCustomes.customerID == null)
{
    @Html.Partial("_Partial404NotFound") }
else
{
    <div class="checkout-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="your-order">
                        <h3>ĐƠN HÀNG CỦA BẠN</h3>
                        <div class="your-order-table table-responsive">
                            @foreach (DetailBills_ViewModels bill in Model)
                            {
                                <table>

                                    <tr>
                                        <th style="width:11rem;height:4rem;text-align:left">Ten san pham:</th>
                                        <td style="text-align:right">@bill.bookName</td>
                                    </tr>
                                    <tr>
                                        <th style="width:11rem;height:4rem;text-align:left">So luong:</th>
                                        <td style="text-align:right">@bill.quantity</td>
                                    </tr>
                                    <tr>
                                        <th style="width:11rem;height:4rem;text-align:left">Gia:</th>
                                        <td style="text-align:right">@bill.price</td>
                                    </tr>
                                    <tr>
                                        <th style="width:11rem;height:4rem;text-align:left">Tong tien:</th>
                                        <td style="text-align:right">@bill.total</td>
                                    </tr>
                                    <tr>
                                        <th style="width:13rem;height:4rem;text-align:left">Ten khach hang:</th>
                                        <td style="text-align:right">@bill.customerName</td>
                                    </tr>
                                    <tr>
                                        <th style="width:13rem;height:4rem;text-align:left">So dien thoai:</th>
                                        <td style="text-align:right">@bill.phone</td>
                                    </tr>
                                    <tr>
                                        <th style="width:13rem;height:4rem;text-align:left">Phuong thuc thanh toan:</th>
                                        @if (bill.payment_method == 1)
                                        {
                                            <td style="text-align:right"> Thanh toan COD</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:right"> Thanh toan PayPal</td>
                                        }

                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp</td>
                                    </tr>
                                    
                                </table>
                            }
                                <h3 class="text-center">Cam on ban da dat hang tai cua hang chung toi!</h3>
                            </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>}

